{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Bug {{ bug.id }} - {{ bug.title }} {% endblock %}</h2>
    <span class="badge badge-primary">Created at {{ bug.created }}</span>
    <span class="badge badge-primary">{{ assigned_user_name }}</span>
    <p>{{ bug.description }}</p>
    <hr>
    <a class="btn btn-primary" href="/modify_bug/{{ bug.id }}" role="button">Modify bug</a>
{% endblock %}
