{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} All Created Bugs {% endblock %}</h1>
    {% for bug in bugs %}
        <a href="bug/{{ bug.id }}">
            <h2>Bug-{{ bug.id }} {{ bug.title }}</h2>
        </a>
        <span class="badge badge-primary">{{ bug.created }}</span>
        <hr>
    {% endfor %}
{% endblock %}