{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a new user {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
               placeholder="Username" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email"
               placeholder="E.g. bob@gmail.com" class="form-control"
               value="{{ request.form['email'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}