{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to YABT {% endblock %}</h1>
    <p>This is a prototype bug tracker where you can raise and view bugs</p>
{% endblock %}