{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Modifying User '{{ user.name }}' {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="name">Set new username</label>
        <input type="text" name="name"
                placeholder="New username" class="form-control"
                value="{{ request.form['name'] }}"></input>
    </div>
    
    <div class="form-group">
        <label for="email">Set new email</label>
        <input type="text" name="email"
                placeholder="New email" class="form-control"
                value="{{ request.form['email'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/user/{{ user.id }}" role="button">Cancel</a>
    </div>
</form>
{% endblock %}