{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Modifying Bug-{{ bug.id }} '{{ bug.title }}' {% endblock %}</h1>
<span class="badge badge-primary">Created at {{ bug.created }}</span>
<span class="badge badge-primary">{{ assigned_user_name }}</span>
<form method="post">
    <div class="form-group">
        <label for="title">Change title</label>
        <input type="text" name="title"
               placeholder="New title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Change description</label>
        <textarea name="description" placeholder="New description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="user_assigned">Change assigned user</label>
        <select name=assigned_user>
            <option value="None">None</option>
            {% for user in users %}
                <option value="{{ user.id }}" {% if bug.id==user.id %} selected="selected"{% endif %}>{{ user.name }} (id={{ user.id }})</option>
            {% endfor %}     
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/bug/{{ bug.id }}" role="button">Cancel</a>
    </div>
</form>
{% endblock %}