{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Raise a New Bug {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Bug title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Bug description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="user_assigned">Choose assigned user</label>
        <select name=assigned_user>
            <option value="None" selected="selected">None</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }} (id={{ user.id }})</option>
            {% endfor %}     
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}