{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Users {% endblock %}</h1>
    {% for user in users %}
        <a href="user/{{ user.id }}">
            <h2>{{ user.name }}</h2>
        </a>
        <span class="badge badge-primary">ID {{ user.id }}</span>
        <span class="badge badge-primary">Email {{ user.email }}</span>
        <hr>
    {% endfor %}
{% endblock %}