{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{user.name}}'s page {% endblock %}</h2>
    <p>Email: {{ user.email }}</p>
    <hr>
    <a class="btn btn-primary" href="/modify_user/{{ user.id }}" role="button">Modify user</a>
{% endblock %}
